<p id="notice"><%= notice %></p>

<p>
  <%= @question.user.email %> asks: <%= @question.content %>
</p>

<ul>
  <% @question.messages.each do |m| %>  
    <li><%= "#{m.user.email} says: #{m.content}" %></li>
  <% end %>
</ul>


Answers:
<%= form_for([@question, @question.messages.build]) do |f| %>

  <div class="field">
    <%= f.text_area :content, placeholder: 'content' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>



<script type="text/javascript">

  $('form').submit(function(){
    var data = $(this).serialize()
    $.post($('form').attr('action') + '.json', data)
    .done(function(res){
      $('ul').append(
          '<li>' + res.user.email + ' says: ' + res.content + '</li>'
        )
    })
    this.reset();
    return false;
  });

  var interval = setInterval(function() {
    $.get(window.location.pathname + '/messages').done(function(res){
      var string = ''
      res.forEach(function(m){
        string += '<li>' + m.user.email + ' says: ' + m.content + '</li>'
      })
      $('ul').html(string);
    }).error(function(){
      clearInterval(interval);
    })
  }, 2000);
</script>


















